.cart-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    
}
.main{
    display:grid;
    grid-template-columns: 4fr 1fr;
}
.cart-container img{
height:250px;
width: 300px;
padding: 10px;



}
.card{
    border: 1px solid rgb(180, 108, 108);
    margin: 20px;
    border-radius: 9px;
    
    
}
.card:hover{
    box-shadow: 2px 2px 20px 2px rgb(160, 126, 126);
    transition:0.5s ;
    border : 1px solid rgb(126, 89, 89);
}
.car-info{
    padding-left: 14px;
    font-weight:700;
    
}
.btn-cart{
    width: 100%;
    background:rgb(223, 120, 137);
    height: 40px;
    border-radius: 0 0 8px 8px;
    border: none;
    transition:1s,
    
}
.btn-cart:hover{
    background:rgb(66, 50, 50);
    color: white;
    
}.icon-name{
    font-weight:  700;
    
    margin: 5px;
}
.icon-name small {
    margin-left: 5px;
    font-size: 16px;
    font-weight: 700;
}